target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar


# node
node_modules

# PMD
.pmd

# macOS
.DS_Store

# Netbeans
nb-configuration.xml
nbproject

# Eclipse
.project
.settings
.classpath

# VisualStudio
.vscode
/colab-webapp/src/main/webapp/app/dist/
/colab-webapp/colab.properties*
/colab-webapp/src/main/webapp/app/coverage/
/colab-webapp/src/main/webapp/app/reports/
/colab-webapp/src/main/webapp/app/test-report/
/colab-webapp/src/main/node/app/yarn-error.log
/colab-tests/colab.properties
/colab-tests/src/test/node/cypress/videos/
/colab-tests/src/test/node/cypress/screenshots/
/colab-webapp/src/main/docker/colab/coLAB.war
/colab-webapp/src/main/docker/colab/payara-micro.current.jar
/colab-webapp/src/main/docker/colab/run
